<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <style>
        .fa, .far, .fas {
    font-family: "FontAwesome";
    }
    </style>
    <title>Logitech Software Solutions pvt Ltd</title>
</head>
<body>
    <nav class="navbar background h-nav">
        <ul class="nav-list v-nav">
            <div class="logo"><img src="../img/img.jpg" alt="logo"></div>
            <li><a href="../index.html" class="menu-item">Home</a></li>
            <li><a href="about.html" class="menu-item">About</a></li>
            <li><a href="services.html" class="menu-item">Services</a></li>
            <li><a href="contact-us.html" class="menu-item">Contact Us</a></li>
        </ul>
        <div class="rightNav v-nav">
            <input type="text" name="search" id="search">
            <button class="btn btn-sm">Search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>

    <div class="">
        <section class="about">
            <div class="container">
                <div class="heading">
                    <h2>About
                        <span>Us</span></h2>
                    <p>We are very delighted to have you here,Thank you for visiting
                        <br>
                        us.We are happy to share our company profile with you
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <img src="https://i.ibb.co/qpz1hvM/About-us.jpg" alt="about" class="img-fluid" width="100%">
                    </div>
                    <div class="col-lg-6">
                        <h3>WHO WE ARE.... </h3>
                        <p>We are a digital transformation consultancy and software development company that provides cutting edge engineering solutions, 
                            helping Fortune 500 companies and enterprise clients untangle complex issues that always emerge during their digital evolution journey. 
                            Since 2007 we have been a visionary and a reliable software engineering partner for world-class brands.</p>
                        <div class="row">
                            <div class="col-md-6">
                                <h4>
                                    <i class="far fa-star"></i>Awesome Design</h4>
                            </div>
                            <div class="col-md-6">
                                <h4>
                                    <i class="far fa-star"></i>
                                    Creative Design</h4>
                            </div>
                            <div class="col-md-6">
                                <h4>
                                    <i class="far fa-star"></i>Better Client Service</h4>
                            </div>
                            <div class="col-md-6">
                                <h4>
                                    <i class="far fa-star"></i>
                                    Digital Marketing & Branding</h4>
                            </div>
                            <div class="col-md-6">
                                <h4>
                                    <i class="far fa-star"></i>Creative Design</h4>
                            </div>
                            <div class="col-md-6">
                                <h4>
                                    <i class="far fa-star"></i>
                                    Speed And Flexibility</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <footer class="footer">
        <div class="footer-h">
            <h3>Quick links</h3>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="about.html">about</a></li>
                <li><a href="services.html">services</a></li>
                <li><a href="contact-us.html">Contact-Us</a></li>
            </ul>
        </div>
        <h2 class="footer-heading">Follow Us On Social Media</h2>
        <div class="social-media">
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
        </div>
        <p class="text-footer">Copyright &copy; 2028 - All rights reserved</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    
    <script src="../js/resp.js"></script>
</body>
</html>