<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Logitech Software Solutions pvt Ltd</title>
</head>
<body>
    <nav class="navbar background h-nav">
        <ul class="nav-list v-nav">
            <div class="logo"><img src="../img/img.jpg" alt="logo"></div>
            <li><a href="../index.html" class="menu-item">Home</a></li>
            <li><a href="about.html" class="menu-item">About</a></li>
            <li><a href="services.html" class="menu-item">Services</a></li>
            <li><a href="contact-us.html" class="menu-item">Contact Us</a></li>
        </ul>
        <div class="rightNav v-nav">
            <input type="text" name="search" id="search">
            <button class="btn btn-sm">Search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>

    <div class="container-service">
        <h1>Our Services</h1>
        <div class="row">
          <div class="service">
            <i class="fas fa-laptop-code"></i>
            <h2>Web Design</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
              quae?
            </p>
          </div>
          <div class="service">
            <i class="fas fa-chart-line"></i>
            <h2>Marketing</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
              quae?
            </p>
          </div>
          <div class="service">
            <i class="fab fa-sketch"></i>
            <h2>Graphics</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
              quae?
            </p>
          </div>
          <div class="service">
            <i class="fas fa-database"></i>
            <h2>Data Analysis</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
              quae?
            </p>
          </div>
          <div class="service">
            <i class="fas fa-mobile-alt"></i>
            <h2>App Development</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
              quae?
            </p>
          </div>
          <div class="service">
            <i class="fas fa-file-invoice"></i>
            <h2>Accounting</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
              quae?
            </p>
          </div>
          <div class="service">
            <i class="fas fa-money-check-alt"></i>
            <h2>Payroll</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
              quae?
            </p>
          </div>
          <div class="service">
            <i class="fas fa-network-wired"></i>
            <h2>Networking</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
              quae?
            </p>
          </div>
        </div>
      </div>

    
    <footer class="footer">
        <div class="footer-h">
          <h3>Quick links</h3>
          <ul>
              <li><a href="../index.html">Home</a></li>
              <li><a href="about.html">about</a></li>
              <li><a href="services.html">services</a></li>
              <li><a href="contact-us.html">Contact-Us</a></li>
          </ul>
        </div>
        <h2 class="footer-heading">Follow Us On Social Media</h2>
        <div class="social-media">
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
        </div>
        <p class="text-footer">Copyright &copy; 2028 - All rights reserved</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    
    <script src="../js/resp.js"></script>
</body>
</html>